<h1>Create a new recipe</h1>
<%= form_for @recipe do |f| %>
  <h3>Recipe Name</h3>
  <%= f.text_field :title %>
  <br>
  <h3>Ingredients</h3>
  <%= f.fields_for :ingredients do |i| %>
    <br>
    <%= i.label :name %>
    <%= i.text_field :name %>
    <br>
    <%= i.label :quantity %>
    <%= i.text_field :quantity %>
    <br>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>
